<% layout('layout') -%>


<section class="contact">
    <div class="layout__wrapper">
        <div class="contact__form">
            <div class="contact__form-info" v-html="message.text" :class="[message.type]"></div>
            <form class="form contact__form" action="" method="post" @submit.prevent="update('<%=result._id %>')">

                <div class="form__line">
                    <input type="text" class="form__control" placeholder="Firstname" v-model="contact.firstname" v-init:firstname="'<%=result.firstname %>'">
                </div>

                <div class="form__line">
                    <input type="text" class="form__control" placeholder="Lastname" v-model="contact.lastname" v-init:lastname="'<%=result.lastname %>'">
                </div>

                <div class="form__line">
                    <input id="phone" type="text" class="form__control" placeholder="Phone" v-model="contact.phone" v-init:phone="'<%=result.phone %>'">
                </div>

                <div class="form__line">
                    <textarea class="form__control" placeholder="Additional Information" v-model="contact.additional" v-init:additional="'<%=result.additional %>'"></textarea>
                </div>

                <div class="form__submit">
                    <button class="button" type="submit">Edit</button>
                </div>

            </form>
        </div>
    </div>
</section>